# убедитесь, что также проигнорированы файлы (Thumbs.db и .DS_Store) и файлы, заканчивающиеся суффиксами _old, _backup
Thumbs.db
*.DS_Store
*_old
*_backup
# проигнорируйте файлы, находящиеся в подкаталоге tmp
/tmp